.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.height-test {
  height: 900px;
}

.column-full {
  width: 100%;
}

.padding-left {
  padding-left: 50px;
}

.official-artwork {
  height: 475px;
  width: 475px;
  object-fit: cover;
}

.details {
  padding-left: 25px;
}

.square {
  width: 150px;
  height: 150px;
  background-color: white;
  margin-left: 50px;
  margin-right: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s;
  border-radius: 1rem;
  border: solid 0.2rem #025873;
}

.column-fourth {
  width: 25%;
}

.column-half {
  width: 50%;
}

.pokemon-category {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.stats {
  display: contents;
}

@media screen and (max-width: 375px) {
  .header-text {
    justify-content: center;
  }

  .padding-left {
    padding-left: 0;
  }

  .buttons {
    display: none;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .square {
    width: 150px;
    height: 150px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    transition: background-color 0.5s;
    border-radius: 1rem;
    border: solid 0.2rem #025873;
  }

  .pokemon-category {
    display: inline-block;
  }

  .official-artwork {
    height: 250px;
    width: 250px;
  }

  .column-half {
    width: 100%;
  }

  .details {
    text-align: center;
    padding-left: 0;
  }

  .stats {
    display: none;
  }

  .pokemon-details-header {
    font-size: 0.75rem;
  }

  .height-test {
    height: 812px;
  }
}
