.container {
  max-width: 1440px;
  margin: 0 auto;
}

.margin-anchors {
  margin-bottom: 20px;
}

.row {
  display: flex;
}

.margin-left-15 {
  margin-left: 15px;
}

.justify-right {
  justify-content: right;
}

.column-full {
  width: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.table-flex {
  display: flex;
  justify-content: center;
}

.header-text {
  justify-content: center;
}

.padding-left {
  padding-left: 0;
}

.buttons {
  display: none;
}

.square {
  width: 150px;
  height: 150px;
  background-color: white;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
  transition: background-color 0.5s;
  border-radius: 1rem;
  border: solid 0.2rem #025873;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgba(0 0 0 / 0.5);
}

.pokemon-category {
  display: inline-block;
}

.official-artwork {
  height: 250px;
  width: auto;
  object-fit: cover;
  animation: move-up-down-official 5s linear infinite;
}

@keyframes move-up-down-official {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.column-half {
  width: 100%;
}

.details {
  text-align: center;
  padding-left: 0;
}

.stats {
  display: none;
}

.pokemon-details-header {
  font-size: 0.75rem;
}

.height-test {
  height: auto;
}

.header {
  flex-direction: column;
}

.justify-right-random {
  justify-content: center;
}

.margin-right-small {
  margin-right: 0;
}

.flavor-text {
  padding: 1rem;
}

.flex-wrap-details {
  flex-wrap: wrap-reverse;
}

.margin-table {
  margin-bottom: 0.3125rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.margin-star {
  margin-right: 0.425rem;
  margin-top: 0;
}

.outer-window {
  background-color: #c18321;
  border: solid 0.3rem black;
  height: 600px;
  width: 300px;
  color: white;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-window-badge {
  background-color: #36454f;
  border: solid 0.3rem black;
  height: 560px;
  width: 280px;
  color: white;
  border-radius: 1rem;
  text-align: center;
  box-shadow: inset -0.55rem -0.75rem rgba(0 0 0 / 0.3);
}

.badge {
  height: 100px;
  width: 100px;
  object-fit: fill;
  filter: drop-shadow(10px 5px 10px rgba(0 0 0 / 0.8));
}

@media screen and (min-width: 760px) {
  .column-half {
    width: 100%;
  }

  .flex-wrap-details {
    flex-wrap: wrap-reverse;
  }

  .margin-anchors {
    margin-bottom: 0;
  }

  .table-flex {
    display: flex;
    justify-content: center;
  }

  .official-artwork {
    width: 300px;
    height: auto;
  }

  .height-test {
    height: auto;
  }

  .margin-table {
    margin-bottom: 5px;
    margin-right: 25px;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .row {
    display: flex;
  }

  .margin-left-15 {
    margin-left: 15px;
  }

  .justify-right {
    justify-content: right;
  }

  .column-full {
    width: 100%;
  }

  .padding-left {
    padding-left: 3.125rem;
  }

  .details {
    padding-left: none;
  }

  .square {
    width: 150px;
    height: 150px;
    background-color: #f2f3f4;
    margin-left: 50px;
    margin-right: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.5s;
    border-radius: 1rem;
    border: solid 0.2rem #025873;
  }

  .pokemon-category {
    display: none;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .justify-right-random {
    justify-content: right;
    align-items: center;
    height: 80px;
  }

  .badge {
    height: 150px;
    width: 150px;
    object-fit: fill;
    box-shadow: 1rem;
  }

  .stats {
    display: contents;
  }

  .margin-right-small {
    margin-right: 25px;
  }

  .space-between {
    justify-content: space-between;
  }

  .outer-window {
    background-color: #c18321;
    border: solid 0.3rem black;
    height: 600px;
    width: 900px;
    color: white;
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .modal-window-badge {
    background-color: #36454f;
    border: solid 0.3rem black;
    height: 560px;
    width: 860px;
    color: white;
    border-radius: 1rem;
    text-align: center;
    box-shadow: inset -0.55rem -0.75rem rgba(0 0 0 / 0.3);
  }

  .header {
    flex-direction: row;
  }

  .header-text {
    justify-content: left;
  }

  .flavor-text {
    padding: 0;
    text-align: center;
  }

  .margin-star {
    margin-right: 3.125rem;
  }
}

@media screen and (min-width: 1280px) {
  .flex-wrap-details {
    flex-wrap: wrap;
  }

  .height-test {
    height: 900px;
  }

  .official-artwork {
    height: 550px;
    width: 550px;
    object-fit: cover;
  }

  .details {
    padding-left: 1.5625rem;
    text-align: left;
  }

  .column-half {
    width: 50%;
  }

  .table-flex {
    display: block;
  }

  .flavor-text {
    text-align: left;
  }
}
