.container {
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.padding-left {
  padding-left: 50px;
}

.square {
  width: 150px;
  height: 150px;
  background-color: white;
  margin-left: 50px;
  margin-right: 35px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.5s;
  border-radius: 1rem;
  border: solid 0.2rem #025873;
}

.column-fourth {
  width: 25%;
}

.pokemon-category {
  display: none;
}

@media screen and (max-width: 375px) {
  .header-text {
    justify-content: center;
  }

  .padding-left {
    padding-left: 0;
  }

  .buttons {
    display: none;
  }

  .square {
    width: 150px;
    height: 150px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    transition: background-color 0.5s;
    border-radius: 1rem;
    border: solid 0.2rem #025873;
  }

  .pokemon-category {
    display: inline-block;
  }
}
