.pokeball-img {
  width: 40px;
  height: 40px;
}

.rationale-font {
  font-family: Rationale, sans-serif;
}

table {
  border-spacing: 1rem;
  border: solid 0.25rem black;
  border-radius: 1rem;
}

.align-center {
  align-items: align-center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.padding-test {
  margin-top: 20px;
}

.background-color-red {
  background-color: #730220;
}

.background-color-white {
  background-color: white;
}

.text-white {
  color: white;
}

.text-heebo {
  font-family: Heebo, sans-serif;
  font-size: 0.75rem;
}

.gen-button {
  width: 93px;
  height: 36px;
  color: white;
  border-radius: 0.1rem;
  border: none;
}

.space-evenly {
  justify-content: space-evenly;
}

.button-black {
  background-color: black;
}

.button-blue {
  background-color: #007bff;
}

.roboto-font {
  font-family: Roboto, sans-serif;
}

.button-pink {
  background-color: #e57373;
}

.button-gray {
  background-color: #afafaf;
}

.button-red {
  background-color: #f44336;
}

.button-navy {
  background-color: #0e4da4;
}

.button-teal {
  background-color: #26a69a;
}

.button-green {
  background-color: #1bb55c;
}

.button-purple {
  background-color: #562b81;
}

.font-size-18 {
  font-size: 18px;
}

.height {
  height: 100%;
}

.padding-top-small {
  padding-top: 40px;
}

.display-flex {
  display: flex;
}

.margin-bot-small {
  margin-bottom: 40px;
}

.gap20 {
  gap: 10px;
}

.sprite {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.option-box {
  width: 310px;
  height: 40px;
}

.margin-top-small {
  margin-top: 40px;
}

.margin-top-very-small {
  margin-top: 25px;
}

.square:hover {
  transform: scale(1.1);
}

.font-blue {
  color: #025873;
  font-size: 1.3rem;
}

p {
  margin-top: 0;
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

.pokemon-details-border {
  border: solid 1.5rem #730220;
  background-color: white;
  border-radius: 3rem;
}

.height80 {
  height: 80%;
}

.padding-left-25 {
  padding-left: 25px;
}

.padding-left-35 {
  padding-left: 35px;
}

.bot-margin-none {
  margin-bottom: 0;
}

.grass {
  color: white;
  background-color: #1bb55c;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.poison {
  color: white;
  background-color: #562b81;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.fire {
  color: white;
  background-color: #ef8030;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.normal {
  color: white;
  background-color: #a8a877;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.fighting {
  color: white;
  background-color: #c03028;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.water {
  color: white;
  background-color: #6790f0;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.flying {
  color: white;
  background-color: #a890f0;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.electric {
  color: white;
  background-color: #f8cf30;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.ground {
  color: white;
  background-color: #e0c068;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.psychic {
  color: white;
  background-color: #f85787;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.rock {
  color: white;
  background-color: #b8a038;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.ice {
  color: white;
  background-color: #98d8d8;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.bug {
  color: white;
  background-color: #a8b81f;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.dragon {
  color: white;
  background-color: #7038f8;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.ghost {
  color: white;
  background-color: #705898;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.dark {
  color: white;
  background-color: #705848;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.steel {
  color: white;
  background-color: #b8b8d0;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.fairy {
  color: white;
  background-color: #ee99ac;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.margin-left-small {
  margin-left: 25px;
}

.josefins-font {
  font-family: josefins, sans-serif;
}

a {
  font-family: roboto, sans-serif;
  color: black;
}

.progress-container {
  width: 300px;
  background-color: #ddd;
  border-radius: 0.5rem;
  border: solid 3px black;
}

.text-align-left {
  text-align: left;
}
