.pokeball-img {
  width: 40px;
  height: 40px;
}

.rationale-font {
  font-family: Rationale, sans-serif;
}

table {
  border-spacing: 1rem;
  border: solid 0.25rem black;
  border-radius: 1rem;
}

.align-center {
  align-items: align-center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.padding-ball {
  margin-top: 1.25rem;
}

.background-color-red {
  background-color: #730220;
}

.background-color-white {
  background-color: #f2f3f4;
}

.text-white {
  color: white;
}

.gen-button {
  width: 93px;
  height: 36px;
  color: white;
  border: solid black 0.2rem;
  font-size: 0.85rem;
  border-radius: 0.3rem;
  transition: all 0.5s ease;
}

.gen-button:hover {
  border: solid white 0.2rem;
}

.space-evenly {
  justify-content: space-evenly;
}

.button-black {
  background-color: black;
}

.button-blue {
  background-color: #007bff;
}

.roboto-font {
  font-family: Roboto, sans-serif;
}

.button-pink {
  background-color: #e57373;
}

.button-gray {
  background-color: #afafaf;
}

.button-red {
  background-color: #f44336;
}

.button-navy {
  background-color: #0e4da4;
}

.button-teal {
  background-color: #26a69a;
}

.button-green {
  background-color: #1bb55c;
}

.button-purple {
  background-color: #562b81;
}

.height {
  height: 100%;
}

.padding-top-small {
  padding-top: 40px;
}

.display-flex {
  display: flex;
}

.margin-bot-small {
  margin-bottom: 2.5rem;
}

.gap20 {
  gap: 10px;
}

.sprite {
  width: 80px;
  height: 80px;
  object-fit: cover;
  position: relative;
}

.sprite:hover {
  animation: move-up-down 1s linear infinite;
}

@keyframes move-up-down {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.option-box {
  width: 310px;
  height: 40px;
}

.margin-top-small {
  margin-top: 2.5rem;
}

.square:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.font-blue {
  color: #025873;
  font-size: 1.3rem;
}

p {
  margin-top: 0;
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

.pokemon-details-border {
  border: solid 1.5rem #730220;
  background-color: #f2f3f4;
  border-radius: 3rem;
}

.padding-left-35 {
  padding-left: 2.1875rem;
}

.grass {
  color: white;
  background-color: #1bb55c;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.poison {
  color: white;
  background-color: #562b81;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.fire {
  color: white;
  background-color: #ef8030;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.normal {
  color: white;
  background-color: #a8a877;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.fighting {
  color: white;
  background-color: #c03028;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.water {
  color: white;
  background-color: #6790f0;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.flying {
  color: white;
  background-color: #a890f0;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.electric {
  color: white;
  background-color: #f8cf30;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.ground {
  color: white;
  background-color: #e0c068;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.psychic {
  color: white;
  background-color: #f85787;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.rock {
  color: white;
  background-color: #b8a038;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.ice {
  color: white;
  background-color: #98d8d8;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.bug {
  color: white;
  background-color: #a8b81f;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.dragon {
  color: white;
  background-color: #7038f8;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.ghost {
  color: white;
  background-color: #705898;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.dark {
  color: white;
  background-color: #705848;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.steel {
  color: white;
  background-color: #b8b8d0;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.fairy {
  color: white;
  background-color: #ee99ac;
  border-radius: 0.2rem;
  border: none;
  height: 35px;
  width: 90px;
}

.margin-left-small {
  margin-left: 1.5625rem;
}

.josefins-font {
  font-family: josefins, sans-serif;
}

a {
  font-family: roboto, sans-serif;
  color: black;
}

.progress-container {
  width: 300px;
  background-color: #ddd;
  border-radius: 0.5rem;
  border: solid 3px black;
}

.text-align-left {
  text-align: left;
}

.star-color-grey {
  color: gray;
}

.star-color-goldenrod {
  color: goldenrod;
}

.star-size {
  font-size: 2rem;
}

.padding-top-right-very-small {
  padding-top: 1rem;
  padding-right: 1rem;
}

.pokeball-img:hover {
  animation: shake 0.5s infinite alternate;
}

@keyframes shake {
  0% {
    transform: rotate(7deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.padding-span {
  padding: 0.625rem 1.5625rem;
  font-family: rationale, sans-serif;
}

button,
i.edit-icon,
i.delete-icon {
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.margin-right-15 {
  margin-right: 0.9375rem;
}

.lds-ring {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 400px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #f2f3f4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f2f3f4 transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ring-container {
  position: relative;
}
