.pokeball-img {
  width: 40px;
  height: 40px;
}

.rationale-font {
  font-family: Rationale, sans-serif;
}

.align-center {
  align-items: align-center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.padding-test {
  margin-top: 20px;
}

.background-color-red {
  background-color: #730220;
}

.background-color-white {
  background-color: white;
}

.text-white {
  color: white;
}

.text-heebo {
  font-family: Heebo, sans-serif;
  font-size: 0.75rem;
}

.gen-button {
  width: 93px;
  height: 36px;
  color: white;
  border-radius: 0.1rem;
  border: none;
}

.space-evenly {
  justify-content: space-evenly;
}

.button-black {
  background-color: black;
}

.button-blue {
  background-color: #007bff;
}

.roboto-font {
  font-family: Roboto, sans-serif;
}

.button-pink {
  background-color: #e57373;
}

.button-gray {
  background-color: #afafaf;
}

.button-red {
  background-color: #f44336;
}

.button-navy {
  background-color: #0e4da4;
}

.button-teal {
  background-color: #26a69a;
}

.button-green {
  background-color: #1bb55c;
}

.button-purple {
  background-color: #562b81;
}

.font-size-18 {
  font-size: 18px;
}

.height {
  height: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.padding-top-small {
  padding-top: 40px;
}

.display-flex {
  display: flex;
}

.margin-bot-small {
  margin-bottom: 40px;
}

.gap20 {
  gap: 10px;
}

.sprite {
  width: 80px;
  height: 50px;
  object-fit: cover;
}

.option-box {
  width: 310px;
  height: 40px;
}

.margin-top-small {
  margin-top: 40px;
}

.width {
  width: 100%;
}
